* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  font-family: Inter;
}

.container {
  width: 100%;
  max-width: 475px;
  height: 80vh;
  margin: auto;
  background-color: #f7f7f7;
  border: 3px solid #f5f2cb;
  margin-top: 20px;
}
.text-center {
  text-align: center;
}

.submit {
  background-color: #e03249;
  color: white;
  border-radius: 3px;
  border: none;
  margin-top: 25px;
  width: 120px;
  padding: 7px 8px;
  font-size: 13px;
  cursor: pointer;
  transition: all 200ms;
}

.submit:hover {
  background-color: #860e1e;
}
.form {
  display: grid;
  gap: 20px;
  width: 90%;
  margin: auto;
  margin-top: 5vh;
  background-color: #f3f3f3;
  padding: 25px;
  height: 66vh;
  gap: 20px;
}
input {
  height: 30px;
  margin-top: 8px;
}
.flex {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.grid {
}


.homebutton{

 
  height: 6%;
  width: 50%;
  margin-top: 30%;
  margin-right: 20px;
  

  
}

.homelink{

  /* background-color: aqua; */
  margin-left:5px;
  margin-top: 5px;
  font-size: 20px;
  font-weight: 540;
  padding: 5px;
  border-radius: 9px;
  color: rgb(26, 146, 238);
  border: 0px;
  background-color: rgb(243, 246, 249);
  transition: all 300ms ;
  
}

.homelink:hover{

  background-color: #4b91ce;
  color:aliceblue;
}


#formhead{

  display: grid;

  grid-template-columns: 90% 10%;


}


#formpage{

  margin-top: 40px ;
  margin-left: 10px;

}