/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, rgb(28, 101, 157), rgba(204, 226, 232, 0));
    font-family: "Lora", sans-serif;

} */