*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom,rgb(28, 101, 157),rgba(204, 226, 232, 0));
    font-family:"Lora",sans-serif;
 
}



#head-bar{


    display: grid;
    grid-template-columns:auto auto auto;
    /* height: 80px; */
    justify-content: space-between;
    align-content:space-between;
    align-items:center;
    background-color: aliceblue;




}


#head {
  
  
    background-color: aliceblue;
    color: rgb(28, 101, 157) ;
    text-align:center;
    font-family:'Ubuntu', sans-serif;
    margin-left: 20px;
   
    
    
    
    /*  animation-name: blue-t0-pink;
    animation-duration: 4s;
    animation-timing-function:ease-in-out;
    animation-delay: 2s;
    animation-iteration-count: 4; 
    animation-direction: alternate-reverse;  */

    /* animation : blue-t0-pink 4s linear 0s 4 alternate-reverse; */
       
    
}

.subhead{


   

    font-family: 'Ubuntu', sans-serif;
    background-color :aliceblue;
    


}

.subheadtext1{

        /* background-color: red; */
        color: rgb(28, 101, 157);
        margin-left: 45%;
        justify-content: flex-end;
        font-size: 50px;

}




#section1{

        display: grid;
        grid-template-columns:auto auto auto auto auto auto;
        justify-content: space-evenly;
        flex-wrap: wrap;
        
        
}


.sec1button1{
    

 font-size: 14px;
 margin-top: 50px;
 margin-bottom: 11px;
 transition:all 300ms;
 border:0px;
 padding: 9px 8px;
 border-radius: 25px;
 cursor: pointer;


}

.sec1button1:hover{

    /* transform: scale(1.1) ; */
    background-color: #a9d2f7;
    

}



.sec1button2 {

    margin-top: 50px;
    margin-bottom: 11px;
    


}

.sec1button3 {

    width: 200px;
   
    transition: all 300ms;
   
   
    margin-top: 15px;
    margin-bottom: 11px;
    
    


}


.sec1button3:hover{

    transform: scale(1.9);

}

.sec1button4 {

    width: 200px;
    height: 112.5px;
    
    margin-top: 15px;
    margin-bottom: 11px;
    transition: all 300ms;


}


.sec1button4:hover {

    transform: scale(1.9);

}

.sec1button5 {

    width: 200px;
    margin-top: 15px;
    margin-bottom: 11px;
    transition: all 300ms;


}

.sec1button5:hover {

    transform: scale(1.9);

}

.sec1button6 {

    width: 200px;
   
    margin-top: 15px;
    margin-bottom: 11px;
    transition: all 300ms;


}

.sec1button6:hover {

    transform: scale(1.9);

}

#login{                      
    
    margin-right: 10px;
   

}

.login-link{

    color: rgb(38, 131, 186);
    transition: all 300ms ;
    font-size:21px;
    font-family: 'Inter',
    sans-serif;
    font-weight: 900;
    transition: all 300ms;
    padding: 4px 8px;
    border-radius: 3px;

   
}


.login-link:hover{
    background-color: #3f95e0;
    color:aliceblue;
    
}

.login-list{
    display:inline;
    list-style: none;
   
}


.web-design{
    margin-top: 10px;
    display:inline;
    font-size: 40px ;
    font-family: 'Quicksand', sans-serif;

    
    
}

.nav{
    /* background-color: aqua; */
    margin-bottom: 30px;
    column-gap:10px;
    
    display: flex;
    flex-wrap: nowrap;
    /* justify-items:flex-start;
    align-content:flex-start; */
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    
}


 ul.nav {
    padding-left: 0px;
    text-align: center;
    margin-top: 30px;
    /* margin-left: 30%; */

    

   }

 .nav-bar {

    background-color: aliceblue;

}

.list{                      /*buttons in nav bar */

    margin-left:5px;
    margin-top: 5px;
    font-size: 18px;
    padding: 4px 8px;
    border-radius: 3px;
    color: rgb(26, 146, 238);
    border: 0px;
    /* background-color: rgb(243, 246, 249); */
   
    background-color: aliceblue;

    transition: all 300ms;
    border-radius: 3px;
}

.list:hover{

    background-color: #2779BF;
    color:aliceblue;
}

.li{

    
    display: inline-block;
    padding: 5px 8px;
    font-size: 18px;
}


.buy-button {
    color: rgb(15, 104, 171);
    padding: 4px;
    transition: all 300ms  ;                    /* used for speed */

    /* transform: translate(50px, -2px); */         /*  moves element in x and y point */
    /* transform: scale(1.1); */                    /* increases size or rotates element*/
    /* transform: rotate(-60deg); */                /* rotate element by degrees */
    /* transform: skewX(45deg); */                  /* roates element by degrees on axis */
    /* transform: matrix(1,0.20,0.20,1,20,5); */    /* short hand property of all above */

    
    text-decoration: none;
    border: 0px;
   
}

.buy-button:hover {

    background-color: #2771b1;
    color: #fbfbfb; ;
    transform: scale(1.0);
    
    

}

.image-style {
background-color:  whitesmoke;
}




.perfomance-list{
    /* background-color: rgb(231, 204, 30); */
   text-align: center;
   margin-top: 100px;

   


  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:center;
    align-items:center;

    
    
    /* grid-gap: 150px  200px ; */
}
table.perfomance-list {
    table-layout: fixed;
}

table.perfomance-list td {
    overflow: hidden;
}

.perfomance-list-item{
    /* border: solid;
    border-color: #2f6798; */
    border-bottom: 2px solid rgb(196, 194, 194);
    padding: 15px;
    gap: 40px;
    display: flex;
    justify-content: space-between;
    

}


.footer{

    display: grid;
    grid-template-columns:auto auto ;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 40px;

}

.subheadtext2 {

    /* background-color: red; */
    color: rgb(28, 101, 157);
    /* margin-left: 45%; */
    /* justify-content: flex-end; */
    font-size: 50px;

}


.footer-link{
    /* background-color: aqua; */
    /* border: solid; */
    
    display: grid;
    grid-template-columns:auto auto auto;
    /* justify-content: space-between; */
    grid-gap: 50px ;
    list-style: none;
    
}


@keyframes blue-t0-pink {
 
    0% {background: rgb(255, 0, 140);
       }


    50% {background: rgb(200, 255, 0);
        }


    100% {background: palevioletred;
         }


}






